@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant hover (&:hover);

button,
[role="button"],
.cursor-pointer {
  cursor: pointer;
}

/* Slick Dots Container */
.slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 6px !important;
  position: absolute;
  bottom: 1rem; /* bottom-4 */
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 640px) {
  .slick-dots {
    bottom: 2rem; /* sm:bottom-8 */
  }
}

/* Dot Items */
.slick-dots li {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

/* Button - increased hitbox */
.slick-dots li button {
  width: 48px; /* Bigger clickable area */
  height: 24px;
  padding: 0;
  background: transparent;
  position: relative;
}

/* The visible yellow line */
.slick-dots li button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Actual visual width */
  height: 2px; /* Line thickness */
  background-color: white;
  border-radius: 9999px;
  opacity: 1;
}

/* Active dot style */
.slick-dots li.slick-active button:before {
  background-color: #facc15; /* Tailwind's yellow-400 */
}
